h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1c47e3;
	left: 0;
	right: 0;
	bottom: -20px;
}
.logo-slider .item{
    background-color: #fff;
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    border: 3px solid #111;
}
.logo-slider .slick-slide{
    margin: 15px;
}
.slick-dots li.slick-active{
    font-size: 12px;
}
.slick-next:before,
.slick-prev:before{
    color: #ff8159;
    font-size: 24px;
}
.item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}
